.display-none {
    max-height: 0;
    opacity: 0;
    transition: max-height .8s ease, opacity .3s ease;
}
.display-active {
    max-height: 1000vh;
    opacity: 1;
    transition: max-height 3s ease, opacity .5s ease;
}

.ui-correct {
    background-color: #c5deff;
    transition: all .2s ease;
}
.ui-correct p:last-child:after {
    color: #777;
    font-size: 12px;
    content: '(正解)'
}
.ui-incorrect {
    background-color: #ffded6;
    transition: all .2s ease;
}
.ui-incorrect p:last-child:after {
    color: #777;
    font-size: 12px;
    content: '(不正解)'
}

.background-none {
    background-color: transparent;
    transition: all .5s ease;
}

.checkbox-svg-active {
    color: white !important;
    background-color: black !important;
    fill: white !important;
    transition: all .2s ease;
}

.checkbox-svg-none {
    color: transparent !important;
    background-color: transparent !important;
    fill: transparent !important;
    transition: all .2s ease;
}

.ui-selected {
    border: solid 2px #333;
    transition: border .1s ease;
}

.mode-button.selected {
    background-color: black;
    color: white !important;
    font-weight: bold;
    /* pointer-events: none; */
    transition: all .3s ease;
}

.udlite-toggle-input-disabled {
    cursor: pointer !important
}

.correct-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}