.display-none {
  max-height: 0;
  overflow-y: hidden;
  opacity: 0;
  transition: max-height 0.8s ease, opacity 0.3s ease;
}
.display-active {
  max-height: 1000vh;
  opacity: 1;
  transition: max-height 3s ease, opacity 0.5s ease;
}
.ui-question {
  padding-top: 20px;
}
.ui-choice {
  cursor: pointer;
}
.ui-choice.correct {
  background-color: #cae1ff;
  color: #333;
  transition: all 0.2s ease;
}
.ui-choice.correct:hover {
  background-color: rgb(184, 214, 255);
}
.ui-choice.correct #answer-text:last-child:after {
  color: #777;
  font-size: 12px;
  content: "(正解)";
  padding: 0 3px;
}
.ui-choice.incorrect {
  background-color: #ffded6;
  color: #333;
  transition: all 0.2s ease;
}
.ui-choice.incorrect:hover {
  background-color: #ffcfc3;
}
.ui-choice.incorrect #answer-text:last-child:after {
  color: #777;
  font-size: 12px;
  content: "(不正解)";
  padding: 0 3px;
}
.ui-choice.selected {
  border: solid 1px #555;
  transition: border 0.1s ease;
}
.ui-choice:hover {
  background-color: #fbfbfb;
}
